.review {

  ;
  .review_title {
    .newReview {
      height: 36px;
      line-height: 36px;
      color: rgb(168, 82, 13);
      font-weight: 600;
      font-size: 15px;
      background-color: rgb(240, 240, 240);
      text-indent: 10px;
    }
    .goodsSales {
      height: 120px;
      padding: 0 8px;
      a{
        display: flex;
        
        .img{
          flex:1;
          height: 120px;
          display: flex;
          align-items: center;
        }
        p{
          flex: 2;
          margin-top: 10px;
          color: rgb(175, 175, 175);
        }
      }
    }
  }
  .review_content{
    background-color: rgb(248, 248, 248);
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    position: relative;
    margin: 0 8px;
    i{
      position: absolute;
      top: -20px;
      left: 20px;
      width: 0;
      height: 0;
      border-bottom: 10px solid rgb(248, 248, 248);
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      .i_left{
        position: absolute;
    left: -6px;
    top: -2px;
    z-index: 99;
    width: 1px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color:rgb(211, 211, 211);
      }
      .i_right{
        position: absolute;
        left: 4px;
        top: -2px;
        z-index: 99;
        width: 1px;
        height: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(135deg);
        background-color:rgb(211, 211, 211);
      }
    }

    .review_content_t{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .content_tl{
        
        .username{
          font-size: 14px;
          color: rgb(143, 142, 142);
        }
        .xing{
          color: rgb(248, 141, 42);
          font-size: 14px;
        }
      }
      span{
        font-size: 12px;
        color: rgb(153, 150, 150);
      }
    }
    .review_content_c{
      margin-top: 8px;
      font-size: 14px;
    }
  }
}